*{
    margin: 0;
    padding: 0;
    box-sizing: border box;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Padauk', sans-serif;   
}

body{
    display: flex;
    height: 100vh;
    width: 146%;
    background-image: url(../image/BMI\ Background.jpg);
    background-color: #e7950d;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.container{
    background-color: rgb(39 48 80);
    position: relative;
    width: 689px;
    height: 35rem;
    border-radius: 41px;
    margin: 64px;
}
.container:hover{
    box-shadow: 17px 18px 11px 10px rgb(76 76 76);
}
/* .container:before{
    content: '';
    position: absolute;
    background: #fff;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}
.container:after{
    content: '';
    position: absolute;
    background: #fff;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -2;
    filter: blur(40px);
    margin: 10px;
} */
/* .container:before, .container:after{
    background: linear-gradient(235deg, #b999a5, #010615, #fbff00);
} */
.container hr{
    background-color: #fff;
}

.container h1{
    color: rgb(255, 0, 0);
    text-align: center;
    margin-bottom: 6px;
    margin-top: 7px;
    font-weight: bold;
    padding: 16px;
    letter-spacing: 2px;
    font-size: 50px;
}
.container input{
    font-size: 28px;
    margin: 0px 26%;
    border-radius: 21px;
    border: 2px soild white;
    height: 47px;
    width: 48%;
    text-align: center;
    font-weight: bold;
}
.container button{
    background-color: rgb(255 0 0);
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin: 36px 41% 12px;
    height: 43px;
    width: 119px;
    border: 2px solid white;
    cursor: pointer;
}
.container p{
    font-size: 38px;
    font-weight: bold;
    color: rgb(251 251 251);
    margin: 26px;
    text-align: center;
}
a{
    margin-left: 415px;
    border-color: salmon;
    color: white;
    font-size: 17px;
}